@using domain.Devices.Keypad.BlinkMarine
@using domain.Devices.Keypad.BlinkMarine.Enums
@using domain.Devices.Keypad.BlinkMarine.Functions

<div
    style="overflow-y: auto; height: calc(100vh - 250px); padding: 24px; scrollbar-width: auto; scrollbar-color: #888 transparent;">
    <MudStack Row="true">
        <MudText Typo="Typo.h6" Class="mb-2">@Device.Model.ToUpper()</MudText>
        @if (Device.IsSim)
        {
            <MudChip T="string" Variant="Variant.Outlined"
                     Color="@Color.Tertiary" Size="Size.Small">
                Simulated
            </MudChip>
        }
    </MudStack>
    <MudDivider Vertical="false"/>
    <MudText Typo="Typo.h6" Class="mb-2">Buttons</MudText>
    <MudGrid>
        @foreach (var row in GetButtonRows())
        {
            @foreach (var button in row)
            {
                <MudItem>
                    <MudCard>
                        <MudCardContent>
                            <RingButton Button="@button" Size="80" Enabled="Device.IsSim" 
                                        BacklightColor="Device.BacklightColor"
                                        BacklightBrightness="Device.BacklightBrightness"/>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }

            <MudFlexBreak/>
        }
    </MudGrid>

    @if (Device.NumDials > 0)
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6">Dials</MudText>
        <MudGrid>
            @foreach (var dial in Device.Dials)
            {
                <MudItem>
                    <MudCard>
                        <MudCardContent>
                            
                            <DialRing Dial="dial" Size="80" Enabled="Device.IsSim"/>
                            <MudButton Variant="Variant.Outlined"
                                       Size="Size.Small"
                                       Disabled="@(!Device.IsSim)"
                                       Style="align-items: flex-start; margin: 5px"
                                       OnClick="@(e => DialDecrement(dial, e))">-</MudButton>
                            <MudButton Variant="Variant.Outlined"
                                       Size="Size.Small"
                                       Disabled="@(!Device.IsSim)"
                                       Style="align-items: flex-end; margin: 5px"
                                       OnClick="@(e => DialIncrement(dial, e))">+</MudButton>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @if (Device.NumAnalogInputs > 0)
    {
        <MudDivider Class="my-4"/>

        <MudGrid>
            @foreach (var input in Device.AnalogInputs)
            {
                <MudItem>
                    <MudCard>
                        <MudCardContent>
                            <MudChip T="string" Variant="Variant.Outlined"
                                     Color="@Color.Primary" Size="Size.Small" Style="min-width: 100px;">
                                @input.Voltage V
                            </MudChip>
                            <MudText Align="Align.Center">@input.Name</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
</div>

@code {
    [Parameter] public BlinkMarineKeypadDevice Device { get; set; } = default!;

    private IEnumerable<IEnumerable<Button>> GetButtonRows()
    {
        var perRow = GetButtonsPerRow();
        return Device.Buttons
            .Select((btn, i) => (btn, i))
            .GroupBy(x => x.i / perRow)
            .Select(g => g.Select(x => x.btn));
    }

    private int GetButtonsPerRow()
    {
        return Device.Model switch
        {
            "pkp1600" => 6,
            "pkp2200" => 2,
            "pkp2300" => 3,
            "pkp2400" => 4,
            "pkp2500" => 5,
            "pkp2600" => 6,
            "pkp3500" => 5,
            "pkp1100" => 1,
            "pkp1200" => 2,
            "pkp1500" => 5,
            "pkp3500mt" => 5,
            _ => 1
        };
    }
    
    private void DialIncrement(Dial dial, MouseEventArgs obj)
    {
        if (!Device.IsSim) return;
        dial.Counter++;
        if (dial.Counter > dial.TopPosition) dial.Counter = dial.TopPosition;
        dial.Direction = DialDirection.Clockwise;
    }

    private void DialDecrement(Dial dial, MouseEventArgs obj)
    {
        if (!Device.IsSim) return;
        dial.Counter--;
        if (dial.Counter < 0) dial.Counter = 0;
        dial.Direction = DialDirection.CounterClockwise;
    }
    

}
